R2_ENDPOINT=https://20804625e19c3ff733141d1fa4aa202a.r2.cloudflarestorage.com
R2_REGION=auto
R2_BUCKET=portoflio-blog-media
R2_ACCESS_KEY_ID=<ACCESS_KEY_ID>
R2_SECRET_ACCESS_KEY=<SECRET_ACCESS_KEY>
OG_OBJECT_PREFIX=og
CHAT_KNOWLEDGE_OBJECT_KEY=artifacts/chat/knowledge.json
MEDIA_BASE_URL=https://media.matiasgaleano.dev
BLOG_FROM_EMAIL=blog@matiasgaleano.dev
GENERATE_OG_FUNCTION_NAME=portfolio-cloud-dev-generate-og
NOTIFY_POST_FUNCTION_NAME=portfolio-cloud-dev-notify-post

RESEND_API_KEY=
DISCORD_WEBHOOK=
