R2_ENDPOINT=https://<ACCOUNT_ID>.r2.cloudflarestorage.com
R2_REGION=auto
R2_BUCKET=<BUCKET_NAME>
R2_ACCESS_KEY_ID=<ACCESS_KEY_ID>
R2_SECRET_ACCESS_KEY=<SECRET_ACCESS_KEY>
OG_OBJECT_PREFIX=og
MEDIA_BASE_URL=https://media.matiasgaleano.dev
BLOG_FROM_EMAIL=blog@matiasgaleano.dev

RESEND_API_KEY=
DISCORD_WEBHOOK=
